<!DOCTYPE html>
<html lang="en">
<head>
  <title>Torrents</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  {% if latest_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Category</th>
          <th>Size</th>
          <th>Files</th>
          <th>Age</th>
          <th>Seed</th>
          <th>Leech</th>
          <th>Verified Torrent</th>
          <th>Torrent Link</th>
          <th>Magnet Link</th>
          <th>Download Link</th>
        </tr>
      </thead>
      <tbody>
        {% for torrent in latest_list %}
          <tr>
            <td>{{ torrent.name }}</td>
            <td>{{ torrent.author }}</td>
            <td>{{ torrent.category }}</td>
            <td>{{ torrent.size }}</td>
            <td>{{ torrent.files }}</td>
            <td>{{ torrent.age }}</td>
            <td>{{ torrent.seed }}</td>
            <td>{{ torrent.leech }}</td>
            <td>{{ torrent.verified_torrent }}</td>
            <td><a href="{{ torrent.torrent_link }}/">Torrent</a></td>
            <td><a href="{{ torrent.magnet_link }}/">Magnet</a></td>
            <td><a href="{{ torrent.download_link }}/">Download</a></td>
          </tr>
        {% endfor %}
      <tbody>
    </table>
  
  {% else %}
    <p>No torrents are available.</p>
  {% endif %}
</div>

</body>
</html>
